{{ header }}{{ column_left }}



<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-information" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-information" class="form-horizontal"></form>
  <form id="deleteForm" action="/post/dispatch/delete" method="post"></form>



  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
       
          <ul class="nav nav-tabs">

            
            {% set blockIndex = 0 %}
            {% for blockItem in blocks %}
                <li class="{% if blockIndex == 0 %}active{% endif %}"><a href="#tab-{{ blockItem.custom_block_id }}" data-toggle="tab">{{ blockItem.name }}</a></li>
                {% set blockIndex = blockIndex + 1 %}
            {% endfor %}
            

          </ul>
          <div class="tab-content">
           

            {% set blockIndex = 0 %}
            {% for blockItem in blocks %}
                <div class="tab-pane {% if blockIndex == 0 %}active{% endif %}" id="tab-{{ blockItem.custom_block_id }}">
                    <h1>{{ blockItem.name }}</h1>


                    
                    {% for field in blockItem.fields %}
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="control-label">{{ field.name }}</label>
                            </div>
                            <div class="col-sm-10">
                                {% if field.type_id == 1 %}
                                    <input type="text" name="block[{{ blockItem.custom_block_id }}]['fields'][{{ field.custom_page_field_id }}]" value="{{ field.value }}" placeholder="Link" id="input-link" class="form-control" form="form-information"/>
                                {% endif %}

                                {% if field.type_id == 2 %}
                                    <input type="text" name="block[{{ blockItem.custom_block_id }}]['fields'][{{ field.custom_page_field_id }}]" value="{{ field.value }}" placeholder="Link" id="input-link" class="form-control" form="form-information"/>
                                {% endif %}


                                {% if field.type_id == 3 %}

                                    <div>
                                        <a href="" id="thumb-image{{ field.custom_page_field_id }}" data-toggle="image" class="img-thumbnail">
                                            <img src="../image/{{ field.value }}" alt="" title="" style="width:200px" data-placeholder="{{ placeholder }}" />
                                        </a>
                                        <input type="hidden" name="block[{{ blockItem.custom_block_id }}]['fields'][{{ field.custom_page_field_id }}]" value="{{ field.value }}" id="input-image{{ field.custom_page_field_id }}" form="form-information"/>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}


                </div>

                {% set blockIndex = blockIndex + 1 %}
            {% endfor %}

            
          </div>
       
      </div>
    </div>
  </div>






  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script></div> 
{{ footer }} 
