{{ header }}

         

<about-pattern-first class="about-pattern-first standard-layout block-layout-navigation">
  <div class="about-pattern-first__decoratives">
    <div class="about-pattern-first__decorative-first">
      <img data-scroll="" data-scroll-speed="0.7" src="/image/{{about_first_block_image}}">
    </div>
    <div class="about-pattern-first__decorative-second">
      <span class="inner is-inview" data-scroll="" data-scroll-speed="-1">
      	<img src="/image/{{about_first_block_big_image}}">
      </span>
    </div>
  </div>
  <div class="about-pattern-first__content">
    <div class="about-pattern-first__title title-large">
  		{{about_first_block_title}}
  	</div>
  	<p class="about-pattern-first__text">{{about_first_block_text}}</p>
  </div>
</about-pattern-first>



<about-pattern-second class="about-pattern-second standard-layout block-layout">
    <div class="about-pattern-second__decoratives">
        <div class="about-pattern-second__decorative-first">
           <span class="inner is-inview" data-scroll="" data-scroll-speed="-1">
          		<img src="/image/{{about_second_block_big_image}}">
            </span>
        </div>
      <div class="about-pattern-second__decorative-second">
        
          		<img data-scroll="" data-scroll-speed="-0.5" src="/image/{{about_second_block_image}}">
        
      </div>
    </div>
    <div class="about-pattern-second__content">
        <div class="about-pattern-second__title title-large">{{about_second_block_title}}</div>
        <p class="about-pattern-second__text">{{about_second_block_text}}</p>
    </div>
</about-pattern-second>

<about-pattern-third class="about-pattern-third standard-layout block-layout">
    <div class="about-pattern-third__decoratives">
        <div class="about-pattern-third__decorative-first">
          <img data-scroll="" data-scroll-speed="-1" src="/image/{{about_second_block_decorative_image}}">
        </div>
          
        <div class="about-pattern-third__decorative-second">
          <img data-scroll="" data-scroll-speed="0.5" src="/image/{{about_thrid_block_decorative_image}}">
        </div>
      </div>
    <div class="about-pattern-third__content">
        <div class="about-pattern-third__title title-large">{{about_thrid_block_title}}</div>
        <div class="about-pattern-third__textes">
            <p class="about-pattern-third__text">{{about_thrid_block_left_text}}</p>
            <p class="about-pattern-third__text">{{about_thrid_block_right_text}}</p>
        </div>
    </div>
</about-pattern-third>




    {{ content_bottom }}
    {{ column_right }}
{{ footer }}